@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 16px;
  background-color: white;
  -webkit-box-shadow: 0 -18px 24px #111517;
          box-shadow: 0 -18px 24px #111517;
}

@media (min-width: 426px) {
  header {
    padding: 35px 11vw;
  }
}

@media (min-width: 769px) {
  header {
    padding: 24px 5.6vw;
  }
}

@media (min-width: 1441px) {
  header {
    padding-right: 12vw;
    padding-left: 12vw;
  }
}

body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  background-color: #fafafa;
}

h1 {
  font-size: 0.9em;
  font-weight: 800;
  margin: 0;
}

@media (min-width: 426px) {
  h1 {
    font-size: 1.2em;
  }
}

@media (min-width: 769px) {
  h1 {
    font-size: 1.5em;
  }
}

h2 {
  font-size: 1.1em;
}

h2 a {
  text-decoration: none;
  color: #111517;
}

h2 a:hover {
  color: #6b6b6b;
}

.countries-section {
  padding: 25px 20px 30px;
}

@media (min-width: 426px) {
  .countries-section {
    padding: 30px 11vw 35px;
  }
}

@media (min-width: 769px) {
  .countries-section {
    padding: 48px 5.5vw 45px;
  }
}

@media (min-width: 1441px) {
  .countries-section {
    padding-right: 12vw;
    padding-left: 12vw;
  }
}

.country-list {
  display: -ms-grid;
  display: grid;
  padding: 0 34px;
  list-style-type: none;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

@media (min-width: 426px) {
  .country-list {
    padding: 0;
    gap: 55px;
  }
}

@media (min-width: 769px) {
  .country-list {
    gap: 75px;
  }
}

.country-details-section {
  padding: 40px 28px 30px;
}

@media (min-width: 426px) {
  .country-details-section {
    padding: 50px 11vw 45px;
  }
}

@media (min-width: 769px) {
  .country-details-section {
    padding: 80px 5.5vw 60px;
  }
}

.filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 426px) {
  .filter-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.text-field {
  font-family: "Nunito Sans", sans-serif;
  font-size: 0.75em;
  padding: 0 40px 0 70px;
  border: 0;
  background-color: transparent;
}

.text-field::-webkit-input-placeholder {
  color: gray;
}

.text-field:-ms-input-placeholder {
  color: gray;
}

.text-field::-ms-input-placeholder {
  color: gray;
}

.text-field::placeholder {
  color: gray;
}

@media (min-width: 769px) {
  .text-field {
    font-size: 0.9em;
    padding-left: 72px;
  }
}

.select {
  font-family: "Nunito Sans", sans-serif;
  font-size: 0.75em;
  font-weight: 600;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 16px;
  color: #1a1a1a;
  border: 0;
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: 0 0 11px -6px #858585;
          box-shadow: 0 0 11px -6px #858585;
}

.select option {
  color: #1a1a1a;
}

@media (min-width: 769px) {
  .select {
    font-size: 0.9em;
    padding: 0 19px;
  }
}

.button-link {
  font-size: 0.9em;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 6px 23px;
  text-align: center;
  text-decoration: none;
  color: #111517;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 7px -2px gray;
          box-shadow: 0 0 7px -2px gray;
}

.button-link:hover {
  background-color: #e6e6e6;
}

.button-link--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button-link--icon ion-icon {
  margin-right: 12px;
}

@media (min-width: 769px) {
  .button-link {
    padding: 6px 30px;
  }
  .button-link--icon {
    padding: 10px 36px;
  }
  .button-link--icon ion-icon {
    margin-right: 17px;
  }
}

.form-element {
  height: 46px;
}

@media (min-width: 769px) {
  .form-element {
    height: 55px;
  }
}
