.borders {
  -ms-grid-row: 6;
  grid-row: 6;
}

.borders__label {
  font-size: 1em;
  margin: 20px 0 17px;
}

.borders__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.borders__ul li {
  margin: 0 10px 10px 0;
  margin-right: 10px;
  margin-bottom: 10px;
}

.borders__ul .button-link {
  font-size: 0.8em;
}

@media (min-width: 580px) {
  .borders {
    -ms-grid-row: 5;
    grid-row: 5;
    grid-column: 1 / -1;
  }
}
