@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
.country-details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto auto auto auto;
      grid-template-rows: auto auto auto auto auto auto;
  padding-top: 10px;
  gap: 10px;
}

.country-details__flag {
  width: 100%;
  height: auto;
  margin: 50px 0 30px;
}

.country-details h2 {
  font-size: 1.3em;
  margin-bottom: 10px;
}

.country-details p {
  font-size: 0.9em;
}

.country-details strong {
  font-weight: 600;
}
