.name-input-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 40px;
  border-radius: 5px;
}

.name-input-wrapper ion-icon {
  margin-left: 27px;
}

@media (min-width: 769px) {
  .name-input-wrapper ion-icon {
    font-size: 1.1em;
    margin-left: 33px;
  }
}

.name-input-wrapper__text-input {
  position: absolute;
  width: calc(100% - 110px);
  height: 100%;
}

@media (min-width: 426px) {
  .name-input-wrapper {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    min-width: 240px;
    max-width: 385px;
    margin-right: 20px;
  }
}

@media (min-width: 769px) {
  .name-input-wrapper {
    max-width: 480px;
    margin-bottom: 33px;
  }
}
