@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
.name-input {
  font-family: "Nunito Sans", sans-serif;
  font-size: 0.8em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 50px;
  margin-bottom: 36px;
  padding: 0 30px;
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 11px -6px #858585;
          box-shadow: 0 0 11px -6px #858585;
}

.name-input::-webkit-input-placeholder {
  color: #cccccc;
}

.name-input:-ms-input-placeholder {
  color: #cccccc;
}

.name-input::-ms-input-placeholder {
  color: #cccccc;
}

.name-input::placeholder {
  color: #cccccc;
}
