.region-select {
  max-width: 192px;
  margin-bottom: 15px;
}

@media (min-width: 426px) {
  .region-select {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media (min-width: 769px) {
  .region-select {
    max-width: 200px;
  }
}
