.theme-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8em;
  padding: 0;
  background-color: transparent;
  border: 0;
}

.theme-switch ion-icon {
  margin-right: 8px;
}

@media (min-width: 769px) {
  .theme-switch {
    font-size: 1em;
  }
}
