@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
$font-family: "Nunito Sans", sans-serif;
$element-bg--light: hsl(0, 0%, 100%);
$body-bg--light: hsl(0, 0%, 98%);
$element-text--light: hsl(200, 15%, 8%);
$element-input-text--light: hsl(0, 0%, 52%);

// *********************************************************
// Base
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 16px;
    @media (min-width: 426px) {
        padding: 35px 11vw;
    }

    @media (min-width: 769px) {
        padding: 24px 5.6vw;
    }

    @media (min-width: 1441px) {
        padding-right: 12vw;
        padding-left: 12vw;
    }
}

body {
    font-family: $font-family;
    margin: 0;
}

h1 {
    font-size: 0.9em;
    font-weight: 800;
    margin: 0;
    @media (min-width: 426px) {
        font-size: 1.2em;
    }

    @media (min-width: 769px) {
        font-size: 1.5em;
    }
}

h2 {
    font-size: 1.1em;
    a {
        text-decoration: none;
    }
}

// *********************************************************
// Sections
.countries-section {
    padding: 25px 20px 30px;

    @media (min-width: 426px) {
        padding: 30px 11vw 35px;
    }

    @media (min-width: 769px) {
        padding: 48px 5.5vw 45px;
    }

    @media (min-width: 1441px) {
        padding-right: 12vw;
        padding-left: 12vw;
    }
}

.country-list {
    display: grid;
    padding: 0 34px;
    list-style-type: none;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    @media (min-width: 426px) {
        padding: 0;
        gap: 55px;
    }

    @media (min-width: 769px) {
        gap: 75px;
    }
}

.country-details-section {
    padding: 40px 28px 30px;

    @media (min-width: 426px) {
        padding: 50px 11vw 45px;
    }

    @media (min-width: 769px) {
        padding: 80px 5.5vw 60px;
    }
}

// *********************************************************
// Elements
.element {
    box-shadow: 0 0 11px -8px hsl(200, 15%, 8%);
}

.filter-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width: 426px) {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.text-field {
    font-family: $font-family;
    font-size: 0.75em;
    padding: 0 40px 0 70px;
    border: 0;
    background-color: transparent;

    @media (min-width: 769px) {
        font-size: 0.9em;
        padding-left: 72px;
    }
}

.select {
    font-family: $font-family;
    font-size: 0.75em;
    font-weight: 600;
    box-sizing: border-box;
    padding: 0 16px;
    border: 0;
    border-radius: 5px;

    @media (min-width: 769px) {
        font-size: 0.9em;
        padding: 0 19px;
    }
}

.button-link {
    font-size: 0.9em;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    padding: 6px 23px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;

    &--icon {
        display: flex;
        align-items: center;
        justify-content: space-between;
        ion-icon {
            margin-right: 12px;
        }
    }

    @media (min-width: 769px) {
        padding: 6px 30px;
        &--icon {
            padding: 10px 36px;
            ion-icon {
                margin-right: 17px;
            }
        }
    }
}

.form-element {
    height: 46px;

    @media (min-width: 769px) {
        height: 55px;
    }
}
