.borders {
    grid-row: 6;
    &__label {
        font-size: 1em;
        margin: 20px 0 17px;
    }

    &__ul {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding-left: 0;
        list-style-type: none;
        li {
            margin: 0 10px 10px 0;
            margin-right: 10px;
            margin-bottom: 10px;
        }

        .button-link {
            font-size: 0.8em;
        }
    }
    @media (min-width: 580px) {
        grid-row: 5;
        grid-column: 1 / -1;
    }
}
