@import "import";

.country-details-section {
    display: grid;
    padding: 40px 28px 30px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto;

    h2 {
        font-size: 1.3em;
        margin: 4px 0 0;
    }

    strong {
        font-weight: 600;
    }
}

.details-text {
    margin: 10px 0;

    p {
        font-size: 0.9em;
        margin: 12px 0;
    }
}

.country-flag {
    width: 100%;
    height: auto;
    margin: 64px 0 41px;
}

.borders-label {
    font-size: 1em;
    margin: 20px 0 17px;
}

.borders-ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 0;
    list-style-type: none;

    li {
        margin: 0 10px 10px 0;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .button-link {
        font-size: 0.8em;
    }
}
