body {
    margin: 0;
}

.country-list {
    display: grid;
    padding-left: 0;
    list-style-type: none;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.country {
    display: grid;
    border: 1px solid black;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    > * {
        grid-column: 1;
    }

    &__flag {
        width: 100%;
        height: auto;
        grid-row: 1;
    }

    &__details {
        margin: 10px 10px;
        grid-row: 2;
    }

    h2 {
        margin-top: 12px;
        margin-bottom: 12px;
    }

    p {
        margin-top: 8px;
        margin-bottom: 8px;
    }
}
