@import "import";
$color-input--light: hsl(0, 0%, 52%);

.name-input {
    font-family: $font-family;
    font-size: 0.8em;
    flex: 1;
    box-sizing: border-box;
    height: 50px;
    margin-bottom: 36px;
    padding: 0 30px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 11px -6px $color-input--light;
    max-width: 350px;
    &::placeholder {
        color: hsl(0, 0%, 80%);
    }
}
