$color-input--light: hsl(0, 0%, 52%);
$color-elements--light: hsl(0, 0%, 100%);

.name-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 40px;
    border-radius: 5px;
    background-color: $color-elements--light;
    box-shadow: 0 0 11px -6px $color-input--light;
    ion-icon {
        margin-left: 27px;
        color: $color-input--light;
        @media (min-width: 769px) {
            font-size: 1.1em;
            margin-left: 33px;
        }
    }

    &__text-input {
        position: absolute;
        width: calc(100% - 110px);
        height: 100%;
    }

    @media (min-width: 426px) {
        flex: 2;
        min-width: 240px;
        max-width: 385px;
        margin-right: 20px;
    }

    @media (min-width: 769px) {
        max-width: 480px;
        margin-bottom: 33px;
    }
}
