.theme-switch {
    display: flex;
    align-items: center;
    font-size: 0.8em;
    padding: 0;
    background-color: transparent;
    border: 0;
    ion-icon {
        margin-right: 8px;
    }

    @media (min-width: 769px) {
        font-size: 1em;
    }
}
