.theme-switch {
    display: flex;
    align-items: center;
    &__checkbox {
        margin: 0 6px 0 0;
    }

    &__label {
        font-size: 0.8em;
        font-weight: 600;
        @media (min-width: 769px) {
            font-size: 1em;
        }
    }
}
